.footer {
  background: $footer-background;
  padding-top: 60px;
  padding-bottom: 60px;
  .soc-netw-list {
    display: flex;
    justify-content: center;
  }
  .soc-netw:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    // display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper-subscribe {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper-address,
  .wrapper-join-in {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrapper-address,
  .wrapper-join-in {
    flex-basis: 50%;
  }
  .wrapper-address {
    margin-bottom: 60px;
  }
}
// margin-right: 165px;
// }
// .wrapper-subscribe {
// margin-left: 166px;
// }

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

// @media screen and (max-width: 1199px) {
//   .wrapper-subscribe {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }

.footer .webstudio {
  margin-bottom: 20px;
  color: $clear-white-color;
}
.address {
  color: $clear-white-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts {
  flex-direction: column;
  .link {
    color: $footer-link-color;
  }
  .item {
    // margin-top: 9px;
    margin-bottom: 8px;
  }
}
.join-in,
.subscribe {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $clear-white-color;
}

// // .wrapper-address {

// // margin-right: 69px;
// // }
// .wrapper-join-in {
//   width: 206px;
//   margin-right: 94px;
// }

.footer-link .link {
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $clear-white-color;
  background-color: $footer-link-bg-color;
  transition: color 250ms $transition-timing-function,
    background-color 250ms $transition-timing-function;

  &:hover,
  &:focus {
    color: $clear-white-color;
    background-color: $accent-color;
  }
}
.soc-icon-footer {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
// .subscribe-form {
//   display: flex;
// }
.subscribe-form-input {
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (max-width: 1199px) {
    height: 50px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
