.section.skills {
  padding-top: 0;
}

.skills {
  .title {
    padding-top: 27px;
    padding-bottom: 27px;
    color: $clear-white-color;
    background-color: $skills-title-bg-color;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .item {
    width: calc((100% - 60px) / 3);
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
